

<h1>APIs</h1>

<h6>
<ul>

  <li>/log/:ini; provides logging detail; <a href="/log/CBB" title="">Example</a></li>
  <li> /past_ini_date/:ini/:n; summary for pathologis for day; <a href="/past_ini_date/CBB/-1" title="">example</a> </li>



</ul>




</h6>