

<h1>APIs</h1>

<h6>
<ul>

  <li>/log/:ini; provides logging detail; <a href="/log/CBB" title="">Example</a></li>
  <li> /log/:ini/:n; provides logging detail for n day; </li>
  <li> /past_ini_date/:ini/:n; summary for pathologis for day; <a href="/past_ini_date/CBB/-1" title="">example</a><li> get /database_destroy/:n; all destruction events of the day </li> <a href="/database_destroy/0" title="">Example</a></li>

  </li>



</ul>




</h6>