<!-- tab pane styling -->

<script style=" display: none;" id="template_sparkline" type="text/x-handlebars-template">



<div class="container-fluid">
  <div class="row-fluid">

    <div class="span2" >

      <ul class="nav nav-tabs nav-stacked" id="myTab1">

        <table class="table table-condensed" style="float: left; text-align: left">
          {{#each paths_tot_points}}
          <li>
            <tr>
              <td>
                <a href="#tab{{this.ini}}" data-toggle="tab">{{this.ini}}</a>
              </td>
              <td>
                <span class="inlinesparkline">{{this.range}},{{this.tot}}</span>
              </td>
            </tr>
          </li>
          {{/each}}
        </div>

        <br></ul>
    </table>

  </div>




    <div class="tab-content" class="span2">
    <br>
      {{#each paths_tot_points}}
        <div class="tab-pane" id="tab{{this.ini}}">{{this.ini}}




        IS AWESOME</div>
      {{/each}}
    </div>

</div>


</script>

<script id="template_form" type="text/x-handlebars-template">





</script>

<span id="placeholder"></span>

<script src="views/entry.js" type="text/javascript" charset="utf-8"></script>