
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html lang="en">
  <head
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
  <title>
      Path-Tracker
    </title>


  <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet">
  <link href="/css/tabs.css" type="text/css" rel="sdtylesheet">
  <link href="/css/style.css" type="text/css" rel="stylesheet">
  <link rel="icon" type="image/png" href="/favicon/b.png"/>
  <script src="/js/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/jquery.sparkline.min.js" type="text/javascript" charset="utf-8"></script>
   <script src="/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/handlebars-1.0.rc.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/underscore-min.js" type="text/javascript" charset="utf-8"></script>
 <script src="/js/bootstrap-tab.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/bootstrap-modal.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/keyboard.0.2.2.min.js" type="text/javascript" charset="utf-8"></script>

  <!-- <script src="http://d3js.org/d3.v2.js"></script>-->



  </head>
  <body>

<div class="navbar navbar-fixed-top">
 <div class="navbar-inner">
   <div class="container">


      <a class="brand" href="/">
        Path-Tracker
      </a>

      <ul class="nav">
        <li><a href="/login">Login</a></li>
        <li><a href="/setup">Setup</a></li>
        <li><a href="/entry">Today</a></li>


        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Live
            <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/live">General Distribution</a> </li>
              <li><a href="/live_all">All Path. Distribution</a> </li>
            </ul>
        </li>





        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Tomorrow
            <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/tomorrow">Points</a> </li>
              <li><a href="/tomorrow_path">Pathologists</a> </li>
            </ul>
        </li>



        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Long Term
            <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/dashboard">Dashboard</a> </li
              <li><a href="/api">APIs</a> </li>   
              <li><a href="/log_of_day_events">Log</a> </li>            
            </ul>
        </li>

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Links
            <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">

          
            <li><a href="/"  onclick="javascript:event.target.port=4567" > Pathtracker</a> </li>
            <li><a href="/"  onclick="javascript:event.target.port=5000" > Wiki</a> </li>
            <li><a href="/"  onclick="javascript:event.target.port=7777" > Biomarkers Quantification</a> </li>
            </ul>
        </li>

        <li><a href="/logout">Logout</a></li>

      </ul>

    </div>
  </div>
</div>


<br>
<br>










    <div id="main">
      <div class='container'>
       <%= yield %>
      </div>
    </div>

  <!-- <table
        border="0" cellpadding="0" cellspacing="0" class="label">
          <tr>
          <td><small>(c) Copyright 2009 Carlo B. Bifulco. All Rights Reserved.</small></td>
          <td ></td>
          <td>
          <td></td>
          <td></td>
          </tr>
          </table>

  </body>
</html>