
<br><br>

<form action="" method="" accept-charset="utf-8">
<input type="text" name="" id="ini" value="" placeholder=""> </input>
</form>

<button type="" id="get_data">Submit</button>

<span id="log_html"></span>


<script src="views/log_of_day_events.js" type="text/javascript" charset="utf-8"></script>