

    <script src='/views/login.js' type='application/x-javascript'></script>
    <br>
    <br>


    <div class='notice' id='login'>
      <br>
      <h1>
        Login
      </h1>
      <br>
      <br>
      <br>
      <form class="form-inline">


      <div class="row">
          <div class="span10 offset1">


          username:


        <input id='login_username' name='username' placeholder='username' type='text'>

        <br>
        </div>
        </div>

        <div class="row">
             <div class="span10 offset1">
        <label for='password'>
          password:
        </label>
        <input id='login_password' name='password' placeholder='password' class="span3" type='password'>
          </div>
        </div>

        <br>
        <br>
        <div class='btn' id='login_button'>
          SUBMIT
        </div>
      </form>
      <br>
      <br>
    </div>






