
<script id="template" type="text/x-handlebars-template">

<br>
<br>
<br>
<br>

<div class="alert">

	<form action="setup" id="setup" method="post" accept-charset="utf-8">

		<table border="0" cellspacing="5" cellpadding="5">
		<tr><td>Date:    </td><td>  	{{date}}  </td></tr>
			<tr><td>Blocks Total:    </td><td>  	{{blocks_tot}}  </td></tr>
			<tr><td>Block/General Slides Conversion Factor:    </td><td>  	{{slides_conversion_factor}}  </td></tr>
			<tr><td>Predicted number of general/cytology slides:    </td><td>  {{slide_points}}  </td></tr>
			<tr><td>Activity Points:    </td><td>  {{activity_points}}  </td></tr>
			<tr><td>Total Points:    </td><td>  {{tot_points}}  </td></tr>


			<tr><td>Present pathologists number:    </td><td>  {{path_count}}  </td></tr>
			<tr><td>Generalist number:    </td><td>  {{generalist_count}}  </td></tr>
			<tr><td>Total points per generalist:    </td><td>  {{points_per_pathologist}}  </td></tr>
			<tr><td>General/Cytology slides distributed:    </td><td>  {{slides_distributed}}  </td></tr>
			<tr><td>General/Cytology slides remaining:    </td><td>  {{slides_remaining}}  </td></tr>

			</table>
			</div>

			<div class="alert alert-error">
			<table>
			<tr><td> Total Blocks: </td><td>  <input type="text" name="total_blocks" id="total_blocks" value="{{blocks_tot}}">  </td></tr>
			<tr><td> 	Total GI: </td><td> <input type="text" name="total_GI" id="total_GI" value="{{total_GI}}">   </td></tr>
				<tr><td> Total SO:</label>   </td><td> <input type="text" name="total_SO" id="total_SO" value="{{total_SO}}">   </td></tr>
				<tr><td> Total ESD:</label>   </td><td> <input type="text" name="total_ESD" id="total_ESD" value="{{total_ESD}}">   </td></tr>
				<tr><td> Total Cytology:</label>   </td><td> <input type="text" name="total_cytology" id="total_cytology" value="{{total_cytology}}">
			<tr><td> Total Previous Day Leftover Slides:</label>   </td><td> <input type="text" name="left_over_previous_day_slides" id="left_over_previous_day_slides" value="{{left_over_previous_day_slides}}">   </td></tr>
				   </td></tr>

				</table>
				<br>




				<div id="working"  >
				<small><strong>	Working:</strong></small>
				{{#pathologist_working}}
				<small>{{this}}</small> <input type="checkbox" name="{{this}}" checked/>
				{{/pathologist_working}}
				</div>

			<br>
				<div id="absent" >
				<small><strong>Absent: </strong></small>
				{{#pathologist_absent}}
				<small>{{this}}</small> <input type="checkbox" name="{{this}}" checked/>
				{{/pathologist_absent}}
				</div>
				</div>



					<table style="float:clear;" border="0" cellspacing="5" cellpadding="5">

					<tr>
					</tr>
					</table>




	<br>



	</form>



</script>



<span id="placeholder"> </span>

<p><button class= "btn btn-large" value="Update" id="ajax_button" style="display: none">SUBMIT</button></p>

<script src="views/setup.js" type="text/javascript" charset="utf-8"></script>

























