
<script id="id_template"  type="text/x-handlebars-template">
  <input type="hidden" name="path_name" value="{{id}}">
</script>




<h1> Hello Testing webscokest</h1>



<script src="views/test.js" type="text/javascript" charset="utf-8"></script>