



<span id="cardinal_html" class="hide list">
<div class="span2">
<table class="table table-striped">
  {{#each cardinal}}
  <tr>
    <td>
    {{this}}
    </td>
  </tr>
  {{/each}}
</table>
</div>
</span>







<span id="placeholder"></span>

<script src="views/test.js" type="text/javascript" charset="utf-8"></script>