<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.mcxl.pathtracker</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/carlobifulco/.rbenv/versions/1.9.3-p194/bin/ruby</string>
    <string>/Users/carlobifulco/Dropbox/code/path-tracker-deploy/path-tracker.rb</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>UserName</key>
  <string>carlobifulco</string>
  <key>WorkingDirectory</key>
  <string>/Users/carlobifulco/Dropbox/code/path-tracker-deploy</string>
  <key>StandardErrorPath</key>
  <string>/var/log/path-tracker/path-tracker.log</string>
  <key>StandardOutPath</key>
  <string>/var/log/path-tracker/path-tracker.log</string>
</dict>
</plist>
